.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 896px;
  margin-bottom: 20px;
}
.img {
  display: inline-block;
  width: 120px;
}
.movie-title {
  font-size: 24px;
}
