.btn,
.inTitle,
.title,
textarea {
  display: block;
  margin-bottom: 10px;
}
.btn {
  display: block;
  padding: 10px 20px;
  width: 100px;
  background-color: cyan;
  color: #000;
  cursor: pointer;
}
textarea {
  padding: 10px 20px;
}
fieldset {
  padding: 16px;
}
