.wrapper {
  width: 896px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;

  justify-content: center;
  margin: 0 auto;
}

.btn {
  display: block;
  padding: 10px 20px;
  width: 100px;
  background-color: cyan;
  color: #000;
}

.list {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
