.wrapper {
  width: 896px;
  margin: 0 auto;
}

.btn {
  display: block;
  padding: 10px 20px;
  width: 100px;
  background-color: cyan;
  color: #000;
}

.list {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 24px;
}
.title {
  font-size: 32px;
  font-weight: bold;
}
